ul.search-card-list {
  margin: 0;
  padding: 0;

  .search-loader {
    list-style: none;
  }
}

.search-card-item {
  list-style-type: none;
  margin-bottom: 24px;

  &.item-active .search-card {
    border-color: $blue7;
  }
}

.search-card {
  --sas-card-icon-size: 2rem;
  --sas-card-icon--margin-inline-end: 0.5rem;
  --sas-card-icon-size-large: calc(var(--sas-card-icon-size) + var(--sas-card-icon--margin-inline-end));
  --sas-card--first-col--margin-inline-start: calc(var(--sas-card-icon-size-large) + var(--sas-card-icon--margin-inline-end));
  --sas-card-long--second-col--margin-inline-start: 1.5rem;

  position: relative;
  background: $white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.10);
  border-radius: 5px;
  padding: 30px 30px 30px 26px;
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 20px;
  border: 2px solid transparent;

  &.search-card-long {
    grid-template-columns: 1fr 1fr 450px;
    min-width: 1024px;

    .search-card-full-col {
      grid-column: span 3;
    }
  }

  .search-card-sasparticipation,
  .search-card-reorientation {
    display: flex;
    font-size: torem(12);
    line-height: 1.6;

    i {
      margin-top: 4px;
      margin-right: 12px;
      color: $blue2;
      font-size: torem(19);
    }
    span {
      flex: 1;
    }
  }

  .search-card-specialities {
    display: block;
    .search-card-specialities-list {
      .search-card-speciality {
        margin-bottom: 0;
      }
    }
  }

  .search-card-doctor-address {
    a {
      text-decoration: none;
      color: $black;
      flex: 1;
    }

    i {
      padding-right: 5px;
      padding-top: 2px;
    }
  }

  .search-card-opening-time {
    .vuejs-collapse-link {
      background: none;
      border: 0;
      padding: 0;
      text-align: start;

      .icon:before {
        margin-left: 10px;
        font-size: torem(17);
      }
    }

    .status--label {
      color: $green3;
      font-weight: 600;
      margin: 0 2px 0 0;
      display: inline-block;

      &.status--close {
        color: $red5;
      }
    }

    .timetable {
      margin: 0;
      padding: 0;
    }

    .timetable-row {
      display: flex;
      margin: 0;

      .day {
        font-weight: 600;
        display: inline-block;
        white-space: nowrap;
        padding-right: 12px;
        min-width: 90px;
      }

      .hours {
        display: flex;
        flex-direction: column;

        .hour {
          margin-left: 10px;
        }
      }
    }

  }

  .search-card-cpts-name,
  .search-card-cpts-phone {
    font-size: torem(14);
    font-weight: 700;
    line-height: 1.5;

    span,
    a {
      display: block;
      font-size: torem(15);
      font-weight: 400;
    }

    a {
      color: $blue2;
    }
  }

  .additional-information-wrapper.trigger-viewmore {
    .additional-information-title {
      margin-bottom: 5px;
      display: block;
      font-size: torem(15);
    }

    .additional-information-text {
      display: flex;
      flex-direction: column;
      background-color: $sas-grey1;
      font-size: torem(14);
      padding: 10px 15px 10px 20px;

      button {
        align-self: center;
      }
    }
    .additional-information-content {
      flex: 1;

      p {
        margin: 0;
      }
    }

    .collapse-toggle {
      white-space: nowrap;
      border: 0;
      font-size: torem(14);
      background: transparent;
      color: $blue2;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}

.search-card-grid-col {
  display: flex;
  flex-direction: column;
}

.search-card-other-zone {
  display: contents;
}

.search-card-preferred-doctor {
  margin-left: auto;

  p {
    color: $white;
    text-align: center;
    font-size: torem(12);
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
    background: $sas-pink;
    padding: torem(8) torem(12);
    margin: 0;
  }
}

.search-card-surnumerary-button {
  .btn {
    background-color: $blue31;
    border-radius: 50px;
    padding: 0.4rem 2rem;
    font-weight: 600;
  }
  margin-top: auto;
}

.search-card-phone {
  a {
    color: $blue2;
  }

  i {
    font-size: torem(18);
  }

  .search-card-long & {
    margin-inline-start: var(--sas-card-long--second-col--margin-inline-start);

    &:empty {
      margin-bottom: torem(32);
    }
  }
}

.search-card-header-zone,
.search-card-address-zone {
  > * {
    margin-inline-start: var(--sas-card--first-col--margin-inline-start);
    margin-block-start: torem(10);
  }
}
.search-card-header-zone {
  // background-color: cyan;
  > :first-child {
    margin: 0;
  }

  .search-card-long & {
    > :last-child {
      margin-bottom: torem(10);
    }
  }
}
.search-card-address-zone {
  // background-color: magenta;
  > :last-child {
    margin-bottom: torem(10);
  }

  .search-card-long & {
    > * {
      margin-inline-start: var(--sas-card-long--second-col--margin-inline-start);
      margin-top: torem(10);
    }
  }
}
.search-card-additional-info-zone {
  // background-color: greenyellow;
  margin-bottom: torem(16);

  .search-card-long & {
    margin-top: auto;
  }
}
.search-card-grid-top-right-zone {
  // background-color: aquamarine;
  display: flex;
  flex-direction: row;

  // Equivalent to applying margin to the parent only if it has direct children
  > * {
    margin-bottom: torem(24);
  }

  &:empty {
    margin-bottom: torem(32);
  }
}
.search-card-calendar-zone {
  // background-color: yellow;
  .availabilities-calendar {
    margin: 0;
  }
}

.search-card-full-col {
  // background-color: bisque;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-self: center;

  /* CPTS card override */
  .search-card-additional-info-zone {
    margin-inline-start: var(--sas-card--first-col--margin-inline-start);
    margin-block-start: 0.25rem;
    margin-block-end: 0;
  }
}

.cpts-link {
  color: $blue2;
  border: 0;
  background: none;
  text-decoration: underline;
  font-weight: 600;
}

.cpts-separator {
  border: 0;
  margin: 0;
  margin-block: var(--sas-card-icon-size);
  height: 1px;
  background-color: #e2e2e2;
}

.search-card-title {
  display: flex;
  align-items: center;

  i {
    font-size: var(--sas-card-icon-size);
    margin-inline-end: var(--sas-card-icon--margin-inline-end);
  }

  i:only-of-type {
    font-size: var(--sas-card-icon-size-large);
  }

  .search-card-title-detail {
    h2 {
      font-size: torem(16);
      font-weight: 600;
      margin: 0;
      color: $black;
      line-height: 1;
      text-decoration: none;

      a {
        display: block;
        color: $blue2;
        text-decoration: underline;
      }

    }
    .b-position {
      margin: 0;
      color: $sas-grey10;
      font-size: torem(12);
      font-weight: 700;
      line-height: normal;
    }
  }
}
