{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
	<div class='main-header-wrapper container-full'>
		{{ content }}

		<div class="mobile-toggle d-flex">
			<button type="button" class="btn-toggle search--toggle" aria-controls="block-sassearchbar" aria-expanded="false">
				<i class="icon-search" aria-hidden="true"></i>
				<span class="sr-only">Ouvrir la search</span>
			</button>
			<button type="button" class="btn-toggle account-panel-toggle account-panel-opener" aria-controls="js-user-account" aria-expanded="false">
				<i class="sas-icon sas-icon-connection" aria-label="true"></i>
			</button>
			<button type="button" class="btn-toggle header-menu-toggle header-menu-opener" aria-controls="header-menu" aria-expanded="false">
				<span class="sr-only">Ouvrir le menu</span>
			</button>
		</div>
	</div>
{% endif %}
