/**
 * @file
 * Color Variables
 */

/* Grey's */
$sas-grey1: #f8f8f8;
$sas-grey2: #82868c;
$sas-grey3: #eee;
$sas-grey4: #454d58;
$sas-grey5: #e6e6e6;
$sas-grey6: #d6d7d9;
$sas-grey7: #cbcbcb;
$sas-grey8: #f4f4f5;
$sas-grey9: #dadce0;
$sas-grey10: #595959;
$sas-grey11: #f5f5fe;
$sas-grey12: #001023;

/* Blue's */
$sas-blue3: #0c79b2;
$sas-blue4: #0374ff;
$sas-blue6: #143b6b;
$sas-blue7: #0c79b2;
$sas-blue8: #487eb0;
$sas-blue9: #eaf3ff;
$sas-blue10: #39c1df;
$sas-blue11: #003f61;

/* Green's */
$sas-green7: #1bc25e;
$sas-green8: #7ac943;
$sas-green9: #1bb51f;
$sas-green10: #4e991a;
$sas-green11: #f2ffea;
$sas-green12: #1bc25e;
$sas-green13: #be7;
$sas-green14: #234600;
$sas-green15: #f8fff0;

/* Red's */
$sas-red1: #f00;
$sas-red2: #ed541d;
$sas-red3: #fef5f1;
$sas-red4: #8c2e0b;
$sas-red5: #fdd;
$sas-red6: #eb0000;
$sas-red7: #ffb0b0;
$sas-red8: #ffeded;

/* Orange */
$sas-orange: #ff824d;
$sas-orange2: #f17743;

/* Pink */
$sas-pink: #ab017b;
