{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

<a href="{{ link }}" class="btn-highlight with-icon btn-edit-dispo {{ class }}">
  <i class="icon icon-pencil" aria-hidden="true"></i>
  {{ 'Editer vos disponibilités'|t }}
</a>
