$icomoon-font-family-sas: "sas" !default;
$icomoon-font-path-sas: "../../sas/fonts/icons/fonts" !default;

$sas-icon-calendar-input: "\e906";
$sas-icon-phone: "\e904";
$sas-icon-filter: "\e905";
$sas-icon-remove: "\e903";
$sas-icon-information: "\e901";
$sas-icon-trash: "\e902";
$sas-icon-check: "\e900";
$sas-icon-calendar: "\e974";
$sas-icon-pencil: "\e979";
$sas-icon-sun: "\e975";
$sas-icon-search: "\e907";
$sas-icon-info-circle: "\e908";
$sas-icon-burger-menu: "\e909";
$sas-icon-back: "\e90a";
$sas-icon-connection: "\e90b";
$sas-icon-emergency: "\e90c";
$sas-icon-first: "\e90d";
$sas-icon-last: "\e90e";
$sas-icon-cnam: "\e90f";

