.wrapper-dashboard {
  padding: 0 20px;

  @media screen and (min-width: $screen-sm-min) {
    padding: 0 50px;
  }

  @media screen and (min-width: $screen-md-min) {
    display: flex;
    padding: 25px 0 0;
  }

  &.wrapper-dahsboard-delegataire {
    @media screen and (min-width: $screen-md-min) {
      min-height: 100vh;
    }
  }

  .content-left {
    @media screen and (min-width: $screen-md-min) {
      width: 30%;
    }
  }

  .content-right {
    @media screen and (min-width: $screen-md-min) {
      padding: 0 0 0 25px;
      flex: 1;
    }
  }

  .title-section-address,
  .dashboard-title-section .title-sub-section {
    padding: 10px 0;
    margin: 0;
    font-family: $font-frank;
    font-weight: 800;
    font-size: torem(20);
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .association-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .title-sub-section {
    font-size: torem(16);
  }

  .dashboard-title-section {
    font-family: $font-mont;
  }

  .wrapper-cpts {
    margin-top: 20px;
  }

  .title-section-cpts {
    font-size: 20px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .link-ps {
    float: right;
  }

  .list-cpts {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
  }

  .ps-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
  }

  .ps-name,
  .ps-specialite,
  .ps-date-update {
    margin-right: 15px;
  }

  .subtitle-section-cpts {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
  }

}

.dashboard-container {
  margin-top: 3px;

  .notice-wrapper {
    width: 100%;
  }
}

.dashboard-header-tab {
  margin-bottom: 36px;

  @media screen and (min-width: $screen-md-min) {
    background: $blue2;
  }

  h3 {
    margin: 0 0 36px;
    padding: 40px 12px 0 31px;
    color: $white;
    font-family: $font-mont;
    font-weight: 800;
    font-size: torem(30);
    line-height: 1.2;

    @media screen and (max-width: $screen-sm-max) {
      font-weight: 700;
      font-size: torem(18);
      padding: 27px 12px;
      margin: 0;
      background: $blue2;
    }
  }

  .tablist-wrapper {
    padding: 0 19px;

    @media screen and (max-width: $screen-sm-max) {
      background: $white;
      padding: 14px 0;
      white-space: nowrap;
      overflow-x: auto;
    }
  }

  .tab-item {
    border: 0;
    position: relative;
    font-family: $font-mont;

    @media screen and (min-width: $screen-md-min) {
      background: $blue2;
      color: $white;
      border-radius: 4px 4px 0 0;
      font-weight: 700;
      font-size: torem(16);
      padding: 18px 25px;
      margin: 0 !important; // sass-lint:disable-line no-important

      &:not(.selected) {
        &:after {
          content: '';
          width: 1px;
          height: 35px;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          background: $white;
        }
      }

      &.selected {
        background: $white;
        color: $black;
        margin-left: -1px !important; // sass-lint:disable-line no-important
      }
    }

    @media screen and (max-width: $screen-sm-max) {
      background: none;
      font-weight: 400;
      font-size: torem(11);
      position: relative;
      padding: 0;
      margin-right: 10px;

      &.selected {
        font-weight: 700;

        &::after {
          content: '';
          position: absolute;
          height: 2px;
          width: 100%;
          bottom: 0;
          background: $blue2;
          left: 0;
          right: 0;
        }
      }
    }
  }
}

.ui-dialog .ui-dialog-buttonpane .form-actions.ui-dialog-buttonset {
  .btn-info.form-submit,
  .btn-info.form-submit:hover {
    background-color: $sas-blue4;
    border: 1px solid $sas-blue4;
    box-shadow: none;
  }
}

.db-addresses {
  font-family: $font-mont;
}

.db-parameters {
  display: flex;
  border: 1px solid $grey3;
  border-radius: 4px 4px 0 0;
  margin-bottom: 34px;

  @media screen and (max-width: $screen-sm-max) {
    margin-bottom: 26px;
  }

  &.has-parameters {
    background: $sas-grey3;
    padding: 18px 26px 38px;
    flex-direction: column;

    h2 {
      font-size: torem(16);
      font-weight: 700;
      margin: 0 0 10px;
    }
  }

  .loading-title {
    margin-bottom: 10px;
  }

  &.no-parameter {
    background: $sas-red8;
    padding: 40px;
    flex-direction: row;
    align-items: center;
    position: relative;

    h2 {
      display: flex;
      align-items: center;
      font-size: torem(25);
      font-weight: 400;
      margin: 0 50px 0 0;
      line-height: 1.2;

      &:before {
        content: '!';
        background-color: $sas-red2;
        height: 28px;
        min-width: 28px;
        border-radius: 50%;
        font-size: torem(20);
        font-weight: 500;
        color: $sas-red8;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 25px 0 0;
      }
    }

    @media screen and (max-width: $screen-sm-max) {
      padding: 15px;
      flex-wrap: wrap;

      h2 {
        margin: 10px 15px 10px 0;
        font-size: torem(20);

        &:before {
          margin: 0 15px 10px 0;
        }
      }
    }
  }

  .db-parameters-list {
    display: flex;
    align-items: flex-end;

    ul {
      flex: 1;

      li {
        width: auto;
        margin-right: 50px;
      }
    }

    @media screen and (max-width: $screen-sm-max) {
      flex-direction: column;
      align-items: flex-start;

      ul {
        margin-bottom: 15px;
        flex-direction: column;

        li {
          margin: 0;
        }
      }
    }
  }
}

.db-address {
  border: 1px solid $grey3;
  border-radius: 4px 4px 0 0;
  margin-bottom: 35px;

  .db-address-header {
    background: $sas-grey3;
    padding: 32px 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $grey3;

    @media screen and (max-width: $screen-sm-max) {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px 26px;
    }
    .db-contact {
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: $screen-sm-max) {
        flex-direction: column;
      }
    }
    .phone,
    h2 {
      font-size: torem(14);
      font-weight: 400;
      margin: 0 50px 0 0;
      line-height: 1.5;
      @media screen and (max-width: $screen-sm-max) {
        flex-direction: column;
        margin: 0 0 20px;
      }
      strong {
        font-size: torem(16);
        font-weight: 700;

        @media screen and (max-width: $screen-sm-max) {
          display: block;
        }
      }
    }

    span {
      font-style: italic;
      font-weight: 400;
      font-size: torem(12);
    }
  }

  .db-address-content {
    padding: 41px 22px 29px 26px;
    display: flex;
    gap: 50px; // sass-lint:disable-line no-misspelled-properties

    @media screen and (max-width: $screen-sm-max) {
      flex-direction: column;
      padding: 41px 10px 29px;
    }

    .db-aggreg-calendars,
    .db-availability {
      flex: 1;
      display: flex;
      flex-direction: column;

      &.db-availability {
        margin-bottom: 10%;
      }

      .db-empty {
        min-height: 280px;
        justify-content: center;

        p {
          max-width: 230px;
          text-align: center;
        }
      }

      .sas-sos-medecins {
        margin: 0;
        font-size: torem(14);
        font-weight: 500;
      }

      .list-flex {
        font-size: torem(12);
        margin-bottom: 35px;
        li {
          margin-right: 10px;
        }
        .tag-letter {
          margin-right: 4px;
        }
      }
      .wrapper-calendar-pagination {
        p {
          font-size: torem(18);
        }
      }
      .view-more-wrapper {
        button {
          font-size: torem(14);
        }
      }
    }
  }

  .db-side-content {
    display: flex;
    flex-direction: column;
    gap: 26px; // sass-lint:disable-line no-misspelled-properties

    @media screen and (min-width: $screen-md-min) {
      width: 45%;
    }

    &>div {
      border: 1px solid $grey3;
      background: $sas-grey1;
      border-radius: 4px 4px 0 0;
      padding: 15px 27px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: $screen-sm-max) {
        padding: 15px;
      }
    }
  }

  .unavailable-periods {
    @media screen and (min-width: $screen-md-min) {
      margin-left: 20px;
    }
    li {
      margin-bottom: 10px;
    }
  }

  .active-period {
    color: $red10;
    font-weight: 700;
    span {
      display: block;
      background: $sas-red7;
      color: $black;
      border-radius: 4px;
      font-size: torem(14);
      font-weight: 400;
      margin-top: 10px;
      padding: 8px 10px;
      line-height: 1.6;
    }
  }

  .db-address-title {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      display: flex;
      align-items: center;
      margin: 0;
      font-size: torem(16);
      font-weight: 700;
      padding-right: 10px;
    }

    .sas-icon {
      font-size: torem(26);
      margin-right: 15px;
    }

    @media screen and (max-width: $screen-sm-max) {
      flex-direction: column;
      align-items: flex-start;

      h3 {
        margin-bottom: 10px;
      }
    }
  }

  .db-type {
    margin-top: 20px;
    display: flex;

    @media screen and (max-width: $screen-sm-max) {
      flex-direction: column;
      align-items: flex-start;
    }

    li {
      margin-right: 10px;
      font-size: torem(12);

      .tag-letter {
        margin-right: 5px;
      }
    }
  }

  .db-empty {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 100px;

    p {
      margin: 0;
      font-size: torem(14);
      font-weight: 700;
      color: $grey17;
    }
  }
}
